[Desktop Entry]
Name=dwm
Comment=Dynamic window manager
Exec=/usr/local/bin/dwm-session
TryExec=/usr/local/bin/dwm-session
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
